/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap')   



/*VARS*/
$blue: #00c3ff
$gray: #f5f5f5
$disabledBtn: #7d7d7d
$disabledBtnShadow: #636262
$fontGray: #666666
$border: #8c8c8c

$OSr: "Open Sans" 

/*MIXINS*/

@mixin font($fontFamily, $fontWeight, $fontSize, $color)
    color: $color
    font: 
        family: $fontFamily
        weight: $fontWeight
        size: $fontSize

    

/*DEFAULT*/

input 
    
    &:active, &:focus
        outline: none
        

button 
    @extend input        
    border: none
    cursor: pointer