@import "../../settings.sass"

#pacients
    position: relative    
       
#add-btn-wrap
    display: flex 
    width: 100%
    justify-content: flex-end
    margin-top: 20px 

    #add-btn
        padding: 15px 30px 15px 30px
        color: #fff