@import "../../settings.sass";

.alert
    display: flex 
    width: 410px
    height: 50px
    border-radius: 5px
    justify-content: center
    margin-top: 20px 

    p 
        @include font($OSr, normal, $NormalSize, #000)
        @media screen and(max-width: 800px)
            font-size: $MinimalSize