@import "../../settings.sass";

.sidebar 
    display: flex 
    width: 25%
    height: 100vh
    position: fixed
    left: 0
    top: 0
    background: #fff 
    transition: .5s
    z-index: 99
    transform: translateX(-100%)


.sidebar_active
    @extend .sidebar
    transform: translateX(0)

#menu-list
    display: flex   
    width: 100%

    ul 
        display: flex
        flex-direction: column
        padding: 0
        width: 100%
        list-style-type: none 
        margin: 0
        z-index: 000

        li 
            width: 100%
            border-bottom: 1px solid $border

        .ListItem
            display: flex
            text-decoration: none
            padding: 
                left: 10px
                top: 10px 
                bottom: 10px
                margin: 0
            @include font($OSr, normal ,16px, #000)

            &:hover 
                background: $border
                color: #fff
                